<h1>This is the quiz page</h1>

<!--<ul>
    <li>temporary todo item A</li>
    <li>temporary todo item B</li>
</ul>> -->

<ul>
    {% for quiz_item in all_items %}
        <li>{{ quiz_item.content }}
            <form action="/deleteQuiz/{{quiz_item.id}}/" 
                    style="display: inline;"
                    method="post">{% csrf_token %}
                <input type="submit" value="Delete"/>    
            </form>

        </li>
    {% endfor %}
</ul>

<form action="/addQuiz/" method="post">{% csrf_token %}
    <input type="text" name="content"/>
    <input type="submit" value="Add"/>    
</form>